
	<h3>So you want to know more about Cards Against Singularity?</h3>

	<br>

	<h4>Well, start reading because we ain't doing it for ya!</h4>

	<br>

	<p>Who doesn't love everything about Cards Against Humanity? The Introverts! <br>

	<br>

	<p>We just want to unite with other <span>HORRIBLE</span> people but Separately, in our own homes. Now we can, with Cards Against Singularity!</p>

	<br>

	<h2>How To Play</h2>

	<br>

	<p>To start the game, each player draws ten white "answer" cards. <br>

		<br>

		One randomly chosen player begins as the Card Czar, and plays a black "question" card. The Card Czar reads the question out to the group. <br>

		<br>

		Each player answers the question by passing one white "answer" card, face down, to the Card Czar. The Card Czar shuffles all of the answers, reads them out loud in a humorous fashion, and picks their favorite. <br>

		<br>

		Whoever played that answer gets to keep the Black Card as one Awesome Point. After each round, a new player becomes the Card Czar, and every player draws back up to ten cards.
	</p>



