<div class="allabout">
	<h2>So what is Cards Against Singularity?</h2>

	<br>

	<h3>Well, start reading because we ain't doing it for ya!</h3>

	<br>

	<p>Who doesn't love everything about Cards Against Humanity? The Introverts! <br>

	<br>

	<p>We just want to unite with other <span id="horrible">HORRIBLE</span> people but Separately, in our own homes. Now we can, with Cards Against Singularity!</p>

	<br>

	<h3 class="rules">How To Play</h3>

	<br>

	<ol>
		<li>Sign in via FaceBook</li>

		<br>

		<li>Choose weather you want to be a Card Czar / Dealer or a player.</li>

		<br>

		<li>If you are a Card Czar/ Dealer you will view a collection of answer cards along with questions submitted by players and "vote" on which card you feel was the best answer. That player will then get the points added to their profiles.</li>

		<br>

		<li>If you are a Player you will view a combination of question card and answer cards and submit your best answer card to be voted on! </li>
	</ol>
		
		</div>

			<ul>
		
	<li class="back"><a ui-sref="home">Back</a></li>

	</ul>


