<div class="account">
	<section id="accountInfo">
		<img id="profilePic" src="{{app.user.avatarUrl}}"/>
		<span id="greeting">Yo, Ari</span>
		<button ng-show="app.user.hand.length !== 10" id="deal" ng-click="app.dealIn()">Deal Me In!</button>
		<button id="newCard" ng-click="app.getCard()">Gimme</button>
	<ul id="scoreboard">
		<li>Daily Score: 9</li>
		<li>Weekly Score: 21</li>
		<li>Total Score: 49</li>
	</section>
	<ul id="gameChoices">
		<li class="bottom-left" id="cardCzar"><a ui-sref="czar">CZAR</a></li>
		<li class="bottom-right" id="playerSelect"><a ui-sref="player">PLAYER</a></li>
	</ul>
	</section>
</div>