<div id="player" ng-repeat="card in players.chosenCard" ng-show="players.czarIndex == $index">
	<ul id="questions">
		<li>
			<section id="question" class="top">
				<h3>{{card.question}}</h3>
			</section>
		</li>
	</ul>

<div class="controls">
	<div class="prev" hm-tap="players.notFunny()"></div>
	<div class="next" hm-tap="players.funny(card.user, $index)"></div>	
</div>


	<h3 class="answer">
		<div class="ansWrap">
			<ul class="bottom img-fulid answerCards" id="czarAnswer">
				<li id="{{$index}}"><h3>{{card.answer}}</h3>
				</li>
			</ul>
		</div>
		<div class="back" id="pBack"><a ui-sref="home">Back</a></div>
</div>