<div id="modal" ng-controller="MainCtrl as app">
        <div class="modal-header">
            <h3 class="modal-title">Czar Mode</h3>
        </div>
        <div class="modal-body" ng-switch on="app.selection">
            <section class="slides" ng-switch-when="slide1">
                <p><b>Funny:</b><br>To vote the question/answer combo as funny, tap the right half of the answer card<br><br><b>Not Funny:</b><br>If you don't find it funny, tap the left half of the answer card</p>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" id="deal" ng-click="app.closeModal()">Remind Me Later</button>
            <button class="btn btn-default" ng-click="app.czarTutNo()" ng-hide='app.selection === "slide7"'>Got It!</button>
        </div>
</div>