<div class="account">
	<section id="accountInfo">
		<span id="greeting">Yo, {{app.user.firstName}}</span>
		<img id="profilePic" src="{{app.user.avatarUrl}}"/>
		<!-- <button ng-show="app.user.hand.length !== 10" id="deal" ng-click="app.dealIn()">Deal Me In!</button> -->
	<ul id="scoreboard">
		<li><span class="scoreFont">{{app.user.dailyScore}}</span> Daily</li>
		<li><span class="scoreFont">{{app.user.weeklyScore}}</span> Weekly</li>
		<li><span class="scoreFont">{{app.user.totalScore}}</span> Total</li>
	</section>
	<ul id="gameChoices">
		<li class="bottom-left" id="cardCzar"><a ui-sref="czar">CZAR</a></li>
		<li class="bottom-right" id="playerSelect"><a ui-sref="player">PLAYER</a></li>
	</ul>
	</section>
</div>