<!--<form ng-submit="sendText(phoneNum)">
  <fieldset class='form-group'>
    <button class='btn btn-primary' type="submit">Click here to invite your friends!</button>
    <input id="phoneNum" type="tel" placeholder="555-555-5555" 
      ng-model="phoneNum" class="form-control"></input>

<button id="add">add</button>
  </fieldset>


<script>


 $("#add").onClick(function(){
    $("#phoneNum").append("<input type='text' name='add_name'/>");
  });


</script>

-->


<form method="post">
<div id="itemRows">

<span class="glyphicon glyphicon-comment"</span><input type="text" name="add_name"/><input onclick="addRow(this.form);" type="button" value="+" />
</div>
</form>


<button id="send"> SEND INVITE</button>


<script type="text/javascript">

var rowNum = 0;
function addRow(frm) {
rowNum ++;
var row = '<input type="text" name="name[]" value="'+frm.add_name.value+'"></p>';
$('#itemRows').append(row);
frm.add_name.value = '';
}
</script>







 