<ul id="playerList">
	<li><input id="p1" placeholder="Player One"></input>
		<button ui-sref="player" class="btn btn-primary">GO!</button></li>
	<li><input id="p2" placeholder="Player Two"></input>
		<button ui-sref="player" class="btn btn-primary">GO!</button></li>
	<li><input id="p3" placeholder="Player Three"></input>
		<button ui-sref="player" class="btn btn-primary">GO!</button></li>
	<li><input id="p4" placeholder="Player Four"></input>
		<button ui-sref="player" class="btn btn-primary">GO!</button></li>
	<li><input id="p5" placeholder="Player Five"></input>
		<button ui-sref="player" class="btn btn-primary">GO!</button></li>
	<li><input id="p6" placeholder="Player Six"></input>
		<button ui-sref="player" class="btn btn-primary">GO!</button></li>
</ul>