<div id="player">
	<ul id="questions">
		<li>
			<section id="question" class="top" ng-repeat="question in players.user.deck.black">
				<h3>{{question.text}}</h3>
			</section>
		</li>
	</ul>

	<h3 id="answer">
		<div id="ansWrap">
			<ul id="answerCards" class="bottom img-fulid" hm-swipe-right="players.next()" hm-swipe-left="players.prev()">
				<li ng-repeat="card in players.user.hand"  hm-tap="players.playCard(card)"
					ng-show="players.cardIndex == $index">{{card.text}} 
				</li>
			</ul>
		</div>
		<span ui-sref="home"class="fa fa-home fa-2x home"></span>
</div>





         
