<div id="player">
	<ul id="questions">
		<li>
			<section id="question" class="top" ng-repeat="question in players.user.deck.black">
				<h3>{{question.text}}</h3>
			</section>
		</li>
	</ul>

	<h3 id="answer">
		<div id="ansWrap">
			<ul id="answerCards" class="bottom img-fulid">
				<div id="controls">
						<div id="prev" hm-tap="players.prev()"></div>
						<div id="next" hm-tap="players.next()"></div>	
				</div>
				<li ng-repeat="card in players.user.hand"
					ng-show="players.cardIndex == $index">{{card.text}}
					<div id="playCard" hm-tap="players.playCard(card)"></div> 
				</li>
			</ul>
			<div class="back" id="pBack"><a ui-sref="home">Back</a></div>
		</div>
</div>






         
