ul {
	list-style: none;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
ul li, p{
	font-size: 20pt;
}
.container {
	background-color: lightBlue;
	height:100vh;
  margin:0;

}

#itemRows {

  margin-left: 425px;
  margin-top: -165px;

}

#send{
  
  margin-left: 450px;
  margin-top: -100px;
 margin-top: 15px;

}









