/* Custom styling for the Bootstrap website. */

/* below styles are the default -- take effect at resolutions <768 px */
.logo {
	text-align: center;
}
.tagline {
	color: #602F8D;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
	padding-top: 1em;
}

/* footer styling for all resolutions */

.siteinfo {
	text-align: center;
	padding: 3em 0;
	border-top: 1px solid #ddd;
}
.siteinfo a {
	text-decoration: none;
	color: #999;
	font-size: 0.8em;
}
.siteinfo a:hover {
	color: #602F8D;
	text-decoration: underline;
}

/* styling thumbnails and modals */

.btn-primary { 
    background-color: #602F8D; 
    border-color: #602F8D; 
}  
.btn-primary:hover, 
.btn-primary:focus,  
.btn-primary:active { 
    background-color: #53297A; 
} 
.modal-body .pull-left { 
    padding-right: 1em; 
} 
.modal-body .pull-right { 
    padding-left: 1em; 
} 
.modal-footer { 
    clear: both; 
} 

/* panel styling for the home page */

.panel-primary .panel-heading {
	background-color: #602F8D;
	border-color: #602F8D;
}
.panel {
	border-color: #602F8D;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  
	.logo {
		text-align: center;
		padding-left: 200px;
		padding-top:25px;
	}
	.tagline {
		font-size: 2em;
		padding-left: 200px;
		padding-top: 50px;
	}
	

@media (min-width: 992px){

.logo {
		text-align: center;
		clear: both;
		padding-left: 200px;

	}

	.tagline {
		font-size: 2em;
		padding-left: -90px;
		padding-top: 50px;
		margin-left: -241px;
		margin-top: 235px;
	}
